{% extends 'temp.html.twig' %}

{% block title %}

{% if action =="ajouter"%}
<div class="jumbotron">
        <h1 class="display-4">Formulaire d'ajout d'une entreprise</h1>
</div>
{% else %}
<div class="jumbotron">
        <h1 class="display-4">Formulaire de modification d'une entreprise</h1>
</div>
{% endif %}

{% endblock %}

{% block body %}

{{ form_start(vueFormulaire, {'attr':{"novalidate":"novalidate"}}) }}

{{ form_row(vueFormulaire.nom, {'attr':{'placeholder':"Nom de l'entreprise...."}})}}

{{ form_row(vueFormulaire.url, {'attr':{'placeholder':"URL de l'entreprise...."}})}}

{{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise...."}})}}

{{ form_row(vueFormulaire.activite, {'attr':{'placeholder':"Activite de l'entreprise...."}})}}

<button type="submit" class="btn btn-dark">Enregistrer</button>
{{ form_end(vueFormulaire) }}
{% endblock %}